<section class="habilidades">
    <h1>Certificaciones/Cursos</h1>
    <div class="row">
        <div class="skill">
            <i class="fa-solid fa-code"></i>
            <h2>Courses of PM</h2>
            <p>Knowledge and experience with SCRUM, KANBAN and Lean Startup</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-arrow-up-right-dots"></i>
            <h2>Java Certification</h2>
            <p>Specialized training in java of 175 hrs by the Panamerican University.</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-diagram-project"></i>
            <h2>Programming Experience</h2>
            <p>Java, Python, SQL, Javascript, C, C++, Angular, Typescript, SASS</p>
        </div>

        <div class="skill">
            <i class="fa-brands fa-codepen"></i>
            <h2>PM Tools Experience</h2>
            <p>MS Project, Jira, Kanban, MS Office, etc.</p>
        </div>
    </div>
</section>
