<header>
    <nav>
        <h2 class="nombre">AA<span>VC</span></h2>
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/education">Educación</a></li>
            <li><a routerLink="/projects">Proyectos</a></li>
            <li><a routerLink="/certifications">Certificaciones/Cursos</a></li>
            <li><a routerLink="/contact">Contacto</a></li>
        </ul>
        <a href="#" class="btn">Contactame</a>
    </nav>

    <section class="contenido">
        <h4>Hola, me llamo</h4>
        <h1>Asis Vazquez</h1>
        <h3>Soy Project Manager y Desarrollador.</h3>
    </section>
</header>
