<section class="habilidades">
    <h1>Proyectos</h1>
    <div class="row">
        <div class="skill">
            <i class="fa-solid fa-code"></i>
            <h2>Clustering algorithm</h2>
            <p>for machine learning with Java made for object oriented programming course (Co-creator)</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-arrow-up-right-dots"></i>
            <h2>Scrolling Video Game Shooter</h2>
            <p>Made for algorithms and programming Course. This game contains many topics like classes, functions and game engine called pygame. (Creator)
                </p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-diagram-project"></i>
            <h2>Car Service Autored</h2>
            <p>Made for Design and management of databases, where we make a business more efficient in the data organization part and process part. (Creator).</p>
        </div>

        <div class="skill">
            <i class="fa-brands fa-codepen"></i>
            <h2>+20 websites created with HTML, CSS, JS</h2>
            <p>Made for courses and external businesses.</p>
        </div>
    </div>
</section>
