<section class="fotos">
        <h1><span>Galeria de Fotos</span></h1>
        <div class="img-galeria">
            {{#each imgs}}
            <img src={{this.src}} alt={{this.alt}} title={{title}}>
            {{/each}}
        </div>
    </section>