<section class="habilidades">
    <h1>Mis Habilidades</h1>
    <div class="row">
        {{#each skills}}
        <div class="skill">
            <i class="fa-solid fa-code"></i>
            <h2>{{this.texto}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>
        {{/each}}
    </div>
</section>