<section class="trayectoria">
        <div class="principal">
            <div class="imagen">
            </div>
            <div class="texto-trayectoria">
                <h2>Conoce mi trayectoria</h2>
                <h5>Project Manager y Developer</h5>
                <h1>Estudio actualmente en el ITESO la carrera de ingenieria en sistemas computacionales, actualmente soy dueño y creado de AVC Agencia donde nos dedicamos a ofrecer servicios de marketing y mas. Tengo experiencia en la gestion de proyectos, desarrollo de software, comunicacion afectiva y creacion de nuevos proyectos.</h1>
            </div>
        </div>
    </section>