<section class="trayectoria">
    <div class="principal">
        <div class="imagen">
        </div>
        <div class="texto-trayectoria">
            <h2>Conoce mi trayectoria</h2>
            <h5>Project Manager y Developer</h5>
            <h1>Estudio actualmente en el ITESO la carrera de ingenieria en sistemas computacionales, actualmente soy dueño y creado de AVC Agencia donde nos dedicamos a ofrecer servicios de marketing y mas. Tengo experiencia en la gestion de proyectos, desarrollo de software, comunicacion afectiva y creacion de nuevos proyectos.</h1>
        </div>
    </div>
</section>

<section class="habilidades">
    <h1>Mis Habilidades</h1>
    <div class="row">
        <div class="skill">
            <i class="fa-solid fa-code"></i>
            <h2>Diseño Web</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-arrow-up-right-dots"></i>
            <h2>Directivas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-diagram-project"></i>
            <h2>Gestion de Proyectos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>

        <div class="skill">
            <i class="fa-brands fa-codepen"></i>
            <h2>Algoritmia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-laptop-code"></i>
            <h2>Desarrollo de Software</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-chart-simple"></i>
            <h2>Marketing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-volume-high"></i>
            <h2>Comunicacion</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>

        <div class="skill">
            <i class="fa-solid fa-people-roof"></i>
            <h2>Trabajo en equipo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, architecto.</p>
        </div>
    </div>
</section>
