<section class="hobbies">
    <h2>Mis Hobbies</h2>

    <div class="box">
        <div class="card">
            <i class="fa-solid fa-gamepad"></i>
            <h5>Jugar Videojuegos</h5>
            <div class="texto">
                <p>En mi infancia fui un fanatico de los videojuegos, desde jugar al gameboy hasta tener mi propia PC para poder probar y jugar increibles videojuegos.</p>

                <p style="text-align: center;">
                    <a class="button" href="#">Lee mas</a>
                </p>
            </div>
        </div>

        <div class="card">
            <i class="fa-solid fa-dumbbell"></i>
            <h5>Gym y Basquetbol</h5>
            <div class="texto">
                <p>Procuro cada dia invertir un rato de mi tiempo en practicar deportes o ir al gimnasio con el objetivo de verme fuerte y generar confianza conmigo mismo y mi entorno.</p>

                <p style="text-align: center;">
                    <a class="button" href="#">Lee mas</a>
                </p>
            </div>
        </div>

        <div class="card">
            <i class="fa-solid fa-music"></i>
            <h5>Tocar el Piano</h5>
            <div class="texto">
                <p>De niño me apasionaba la musica y siempre habia querido aprender a tocar un instrumento, hoy en dia practico tocar el piano para cumplir con ese sueño.</p>

                <p style="text-align: center;">
                    <a class="button" href="#">Lee mas</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="fotos">
    <h1><span>Galeria de Fotos</span></h1>
    <div class="img-galeria">
        <img src="/assets/imgs/carrusel1.jpeg" alt="">
        <img src="/assets/imgs/carrusel6.jpeg" alt="">
        <img src="/assets/imgs/carrusel8.jpeg" alt="">
        <img src="/assets/imgs/carrusel2.jpeg" alt="">
        <img src="/assets/imgs/carrusel5.jpeg" alt="">
        <img src="/assets/imgs/carrusel4.jpeg" alt="">
        <img src="/assets/imgs/carrusel7.jpeg" alt="">
        <img src="/assets/imgs/carrusel9.jpeg" alt="">
    </div>
</section>
