<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <nav>
            <h2 class="nombre">AA<span>VC</span></h2>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/trayectoria">Trayectoria</a></li>
                <li><a href="/hobbies">Hobbies</a></li>
                <li><a href="/galeria">Fotos</a></li>
                <li><a href="/habilidades">Habilidades</a></li>
            </ul>
            <a href="#" class="btn">Contacto</a>
        </nav>

        <section class="contenido">
            <h4>Hola, me llamo</h4>
            <h1>Asis Vazquez</h1>
            <h3>Soy Project Manager y Desarrollador.</h3>
        </section>
    </header>

    <!-- Trayectoria, galeria, hobbies y habilidades movidas-->
    {{{body}}}

    <section class="contacto">
        <div class="info">
            <div class="texto-contacto">
                <h2>Contacto</h2>
                <h5>33 1974-5420 | aasisvc2000@gmail.com</h5>
                <h1>Puedes comunicarte conmigo por estos medios o por mis redes sociales.</h1>
            </div>
        </div>
    </section>

    <footer>
        <p>Asis Vazquez</p>
        <p>Sigueme en mis redes sociales para conocer mas sobre mi.</p>
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <p class="final">Derechos Reservados por Asis Vazquez</p>
    </footer>
</body>
</html>